apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: ming031121/ece1779-backend:v4
          ports:
            - containerPort: 3000            
          env:
            - name: BE_PORT
              value: "3000"

            - name: DB_HOST
              value: "postgres-service"

            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_PORT

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_NAME

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_PASSWORD

            - name: MAILTRAP_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: MAILTRAP_USER

            - name: MAILTRAP_PASS
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: MAILTRAP_PASS

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: JWT_SECRET
