apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME

            # directory for postgres image
            - name: PGDATA
              value: "/var/lib/postgresql/data"

          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql 

            - name: postgres-init-sql
              mountPath: /docker-entrypoint-initdb.d
              readOnly: true  

      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
            
        - name: postgres-init-sql
          configMap:
            name: postgres-init-sql
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
